:root {

    --ff-gotham: 'GothamPro', sans-serif;
    --ff-lato: 'Lato', sans-serif;

    --clr-primary: #f78b1f;
    --clr-primary-transparent: #f78b1f38;

    --clr-secondary: #cf1437;

    --clr-bg-lightblue: #d1eaff;
    --clr-bg-lightblue-transparent: #d1eaff4d;

    --clr-bg-white: #ffffff;

    --clr-text-blue: #0d319c;
    --clr-text-white: #ffffff;
    

}